name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: --deny warnings
  RUSTDOCFLAGS: --deny warnings

jobs:
  # Check formatting.
  format:
    name: Format
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt

      - name: Check formatting
        working-directory: bevy_ios_safearea
        run: cargo fmt --all -- --check

  # Run Clippy lints.
  clippy:
    name: Clippy
    runs-on: macos-latest
    timeout-minutes: 30
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy

      - name: Populate target directory from cache
        uses: Leafwing-Studios/cargo-cache@v2
        with:
          manifest-path: bevy_ios_safearea/Cargo.toml

      - name: Run Clippy lints
        working-directory: bevy_ios_safearea
        run: cargo clippy --workspace --all-features --all-targets -- --deny warnings

  android_build:
    name: Android Build
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Install Dependencies
        run: sudo apt-get update; sudo apt-get install pkg-config libx11-dev libasound2-dev libudev-dev lld llvm

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: "17"
          distribution: "temurin"

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Add Android targets
        run: rustup target add aarch64-linux-android
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-ndk

      - name: Populate target directory from cache
        uses: Leafwing-Studios/cargo-cache@v2
        with:
          manifest-path: bevy_ios_safearea/Cargo.toml

      - name: Build for Android- game activity
        working-directory: bevy_ios_safearea
        run: cargo ndk build --workspace --features android-game-activity --target aarch64-linux-android

      - name: Build for Android- native activity
        working-directory: bevy_ios_safearea
        run: cargo ndk build ---workspace --features android-native-activity --target aarch64-linux-android

  # Check documentation.
  doc:
    name: Docs
    runs-on: macos-latest
    timeout-minutes: 30
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@nightly

      - name: Populate target directory from cache
        uses: Leafwing-Studios/cargo-cache@v2
        with:
          manifest-path: bevy_ios_safearea/Cargo.toml

      - name: Check documentation
        working-directory: bevy_ios_safearea
        run: cargo doc --workspace --all-features --document-private-items --no-deps
